[2018-09-22 18:47] JamesHenry opened #1 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-22 18:52] #1 closed

[2018-09-22 19:58] JamesHenry opened #2 ""use strict"/etc directives should be labeled as such"
It is now been part of the ESTree spec for a while: https://github.com/eslint/typescript-eslint-parser/issues/267

Prettier is currently having to work around this

[2018-09-24 14:55] styfle opened #5 "Question: why is source code is not written in typescript?"
**What did you expect to happen?**
Excepted source code files to use .ts

**What actually happened?**
Source code files actually uses .js

Why is that?

[2018-09-25 13:49] JamesHenry opened #6 "Miscategorises URLs as comments"
Port of https://github.com/eslint/typescript-eslint-parser/issues/339

[2018-09-25 13:53] JamesHenry opened #7 "Parser adding invalid comment"
Port of https://github.com/eslint/typescript-eslint-parser/issues/450

[2018-09-25 13:55] JamesHenry opened #8 "Wrong AST type in LHS of AssignmentExpression"
Port of https://github.com/eslint/typescript-eslint-parser/issues/467

[2018-09-25 14:50] JamesHenry opened #9 "Investigate the possibility of setting `jsx: true` based on file extension"
Port of https://github.com/eslint/typescript-eslint-parser/issues/399

[2018-09-25 17:14] uniqueiniquity opened #10 "TSX tests still failing locally"
**What version of TypeScript are you using?**
3.0.3

**What version of `typescript-estree` are you using?**
0.0.0-development

**What were you trying to do?**
`npm run unit-tests TSX`

**What did you expect to happen?**
Tests pass.

**What actually happened?**
2 snapshots failed.

Could it be that I'm running them on Windows, where the snapshot differences are caused by line endings? Seems odd tha

[2018-09-25 17:15] uniqueiniquity commented on #10
Port of https://github.com/eslint/typescript-eslint-parser/issues/513.

[2018-09-26 23:37] #10 closed

[2018-09-28 08:34] g-plane commented on #7
I think this can be closed because I cannot reproduce this issue in the latest version.

[2018-09-29 03:07] vivekgalatage opened #16 "Add support for TSTupleType and TSAbstractClassDeclaration in ast-node-types.js"
**What version of TypeScript are you using?**
Typescript 3.0.1

**What code were you trying to parse?**

[code]
Please take a look at the AST explorer snippet for the same
https://astexplorer.net/#/gist/e5dd1011355354fea561d02cb10e0b05/9ccb97f94ca1871a0f8917bed5b4d95402a07e13

**What did you expect to happen?**
The TSTupleType keyword should be in the ast-node-types.js file.

**What actually happe

[2018-10-04 15:37] vivekgalatage commented on #16
This also applies to `TSAbstractClassDeclaration`

[code]

Please take a look at the AST here
https://astexplorer.net/#/gist/3b79e871a564de599f26479d58bb5cd8/33d9327299b131a23e78e5e738bef37e2bec5584

So can `TSAbstractClassDeclaration` be added to the ast-node-types.js as well?

[2018-10-04 22:04] madbence opened #17 "Parsing type aliases"
**What version of TypeScript are you using?**

`3.0.3`

**What version of `typescript-estree` are you using?**

`1.0.0`

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

parse it as a `TypeAlias` (like with flow)? or maybe this can be fixed on `eslint`-level. see eslint/eslint#10922 and eslint/eslint#10923

**What actually happened?**

it was parsed as a `Variab

[2018-10-08 15:17] #8 closed

[2018-10-08 15:18] JamesHenry commented on #16
Thanks for reporting @vivekgalatage, I'm curious in what situation this surfaced as an issue for you?

[2018-10-08 15:19] JamesHenry commented on #8
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-23 04:03] madbence opened #18 "Bad AST type for ArrayExpressions in BinaryExpressions"
**What version of TypeScript are you using?**

`3.1.3`

**What version of `typescript-estree` are you using?**

`3.0.0`

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

Two `ArrayExpression`s

**What actually happened?**

Left side is `ArrayPattern`, right side is `ArrayExpression`.

[2018-10-24 04:36] kaicataldo commented on #9
Is this something we'd still like to do here? I don't think this makes as much sense here as it did in `typescript-eslint-parser`. It doesn't look like the filename is referenced in the options, and it doesn't seem quite right to add it in for the sake of this, since you can already specify with the `ecmaFeatures.jsx` option.

[2018-10-24 18:42] HauptmannEck opened #19 "AST missing `start` and `end` values."
**What version of TypeScript are you using?**
3.1.3
**What version of `typescript-estree` are you using?**
2.1.0 (I have not seen any changes in the code that would fix this in v3)
**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Generate AST that matched the ESlint AST so that I could use `eslint-plugin-react` rules.
**What actually happened?**
The AST does not

[2018-10-27 18:26] kaicataldo opened #21 "Evaluate `ecmaFeatures` option"
**What version of TypeScript are you using?**
N/A

**What version of `typescript-estree` are you using?**
master

**What code were you trying to parse?**
N/A

**What did you expect to happen?**
N/A

**What actually happened?**
N/A

Had a thought while I was looking at https://github.com/eslint/typescript-eslint-parser/pull/530. Now that the ESLint-compatibility layer has been separated out, does i

[2018-10-27 18:29] kaicataldo commented on #5
I'm not sure I understand what the issue is. Is it just that this a TypeScript parser that isn't written in TypeScript? I'm not the original author, so I can't give you a definitive answer, but if so, there are a lot of valid reasons to not write a Node.js package in TypeScript (extra complexity around and infrastructure for compiling/releasing being the one that comes to my mind).

[2018-10-28 22:01] styfle commented on #5
There is already a dependency on typescript and it looks like babel is being used for compiling

https://github.com/JamesHenry/typescript-estree/blob/c3ea1d2745d4f6c73b3a6427738c181fd3184d87/package.json#L35

[2018-10-28 22:28] JamesHenry commented on #5
The explanation is actually very simple, the project was extracted from one which existed for many years under eslint, and eslint does not author packages in TypeScript :)

@styfle the reason for babel there is not for compiling, it is detailed in the README: https://github.com/JamesHenry/typescript-estree#ast-alignment-tests

[2018-10-28 22:28] #5 closed

[2018-10-28 22:35] JamesHenry commented on #19
Interestingly, those properties are not actually defined in the ESTree spec: https://github.com/estree/estree/blob/master/es5.md

I noticed esprima doesn't have them, but most of the other popular parsers do. We can probably consider adding them in as it is very non-disruptive, but I would note that it is not necessarily a design goal of this parser to produce ASTs to comply with assumptions in ES

[2018-10-28 22:37] #18 closed

[2018-10-28 22:39] JamesHenry commented on #18
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-29 13:28] HauptmannEck commented on #19
Luckily as long as the `range` values exist there is a work around and we can change the code consuming the AST to not use the `start`/`end`. Although I noticed `range` also doesn't seem to be a part of the ESTree spec either.

I don't have an opinion on if the fields should be added or not, just wanted to get the conversation out there. Hopefully this issue can help others in the future understan

[2018-10-30 19:59] kaicataldo opened #23 "CONTIBUTING.md"
**What version of TypeScript are you using?**
N/A
**What version of `typescript-estree` are you using?**
N/A
**What code were you trying to parse?**
N/A
**What did you expect to happen?**
N/A
**What actually happened?**
N/A

Could we lower the barrier for contribution by adding a CONTRIBUTING.md file?

[2018-10-31 01:00] JamesHenry commented on #21
Thanks again for doing this

[2018-10-31 01:00] #21 closed

[2018-10-31 01:02] JamesHenry commented on #19
Is there any easy way to offer a compatibility layer within typescript-eslint-parser, so that eslint rules don't need to be rewritten?

I imagine post-processing the whole AST is an option, but may be quite slow?

[2018-10-31 01:43] mysticatea commented on #19
ESLint core rules have never used `start` and `end` properties :)
But I'm not sure plugins...

I think that we can add the verification to check whether rules don't use `start`/`end` into `RuleTester`. But it will be a breaking change.

[2018-11-07 01:44] mysticatea opened #27 "cannot distinguish `declare global` on AST."
**What version of TypeScript are you using?**

- 3.1.6

**What version of `typescript-estree` are you using?**

- 2.1.0 (typescript-eslint-parser#master)

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

`typescript-estree` generates different nodes because the two have different semantics.

**What actually happened?**

`typescript-estree` generates the same nod

[2018-11-07 07:07] mysticatea opened #28 "Inconsistent AST about `declare` keyword"
**What version of TypeScript are you using?**

- 3.1.6

**What version of `typescript-estree` are you using?**

- 2.1.0 (typescript-eslint-parser#master)

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

I can get consistent AST for semantics about whether the `declare` keyword exists or not.
For example, consistently `declare:boolean` property or consistently d

[2018-11-07 11:20] j-f1 commented on #28
See also https://github.com/eslint/typescript-eslint-parser/issues/384

[2018-11-08 04:15] mysticatea commented on #28
`TSAmbientDeclaration` may be nice.

[code]

All declaration in this node, contains declarations in module blocks recursively, are handled as ambient declarations.

This is similar to `Export*Declaration` in ESTree, `TSAmbientDeclaration` will be exported from this file.

[2018-11-08 04:20] mysticatea commented on #27
`TSGlobalAugmentationDeclaration` node may be nice.

[code]

[2018-11-08 05:03] mysticatea opened #30 "TSCallSignature and TSConstructSignature have different properties for parameters"
**What version of TypeScript are you using?**

- 3.1.6

**What version of `typescript-estree` are you using?**

- 2.1.0 (typescript-eslint-parser)

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

To access the AST nodes of parameters, I can use the same way for the call signature and the construct signature.

**What actually happened?**

In `TSCallSignature`, i

[2018-11-08 05:06] mysticatea commented on #30
As a side note, what about `node.returnType` instead of `node.typeAnnotation` for the return type?

[2018-11-08 08:24] mysticatea opened #31 "sourceType is wrong if `import`/`export` exists in module blocks"
**What version of TypeScript are you using?**

- 3.1.6

**What version of `typescript-estree` are you using?**

- 5.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

The `sourceType` property of `Program` node is `"module"` because it contains ES2015 module syntax as an ambient module declaration.

**What actually happened?**

The `sourceType` property of `P

[2018-11-08 22:08] kaicataldo commented on #9
For what it's worth, `typescript-eslint-parser` is adding this behavior: https://github.com/eslint/typescript-eslint-parser/pull/543. I think it probably makes sense for Prettier to do the same?

[2018-11-10 05:03] g-plane opened #32 "Change the way to retrieve comments."
Currently, this parser uses the scanner of TypeScript to retrieve comments. And there is an issue:

For example, we have code like this (please ignore the syntax highlight from GitHub):
[code]
As we can see above, the text in the `div` tag is `JSXText`, however, the `typescript-estree` regards it as comment and adds it to the `comments` property. Note that this only affected on the `comments` prop

[2018-11-16 16:02] kaicataldo commented on #9
@JamesHenry Thoughts on closing this now?

[2018-11-22 00:51] #9 closed

[2018-11-22 07:00] Kovensky commented on #31
That is actually correct. This module is a global script. It is only the module it declares that is a module.

If this module was a module (had a _top level_ import/export), it would actually change the meaning of `declare module` to be a module augmentation instead of declaration. Module augmentations can only add types to existing modules instead of declaring new modules.

[2018-11-29 09:58] shmidt-i commented on #32
Thats kinda critical, because you can have `<div>http://notacomment.com</div>` which will be treated as a comment

[2018-11-29 18:04] kaicataldo commented on #32
I've run into this as well. I'd love to look at this at some point, but need to get to the rest of my OSS backlog first! Does anyone who might be more familiar with TS's internals have an idea of how this could be achieved a different way?

[2018-11-29 23:15] armano2 commented on #27
According to babel/typescript its: https://github.com/babel/babel/blob/08454ece462ed870f3c18e1274091e2cfb761085/packages/babel-types/src/definitions/typescript.js#L390

[code]

[2018-11-30 00:59] #27 closed

[2018-11-30 01:12] JamesHenry commented on #27
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-30 21:21] armano2 commented on #28
@JamesHenry can you take a look on this?

[2018-11-30 22:50] JamesHenry commented on #28
I won’t have time over the next week as I’m travelling a lot. Definitely open to PRs if anyone else gets chance, otherwise I may have some time the week after.

My gut reaction is: I prefer @mystictea’s approach but that initially alignment with Babel might be preferable. We can then consider if it’s worth updating both tools.

WDYT?

[2018-11-30 23:02] armano2 commented on #28
i can make those changes, but i don't know which one to go for... :>

[2018-11-30 23:04] JamesHenry commented on #28
Let’s go for matching Babel unless there is a strong reason not to as a general rule. It’s why I spent the time setting up the testing for it. The Babel support was built by the TS Team themselves and they have always been open to changes where they make sense, so if we feel strongly the AST design is not optimal we can propose a change to them and carry it out in both tools later

[2018-11-30 23:53] corbinu opened #39 "[Suggestion] Nightly builds"
I was wondering if it would be possible to setup nightly builds? I am going to suggest this in typescript-eslint-parser also.

This would be really for use with the nightly typescript version and only for those that want to be on the bleeding edge. This would obviously only be valuable if typescript-eslint-parser is amenable.

I am happy to help!

[2018-12-01 05:17] mysticatea commented on #28
I follow the @JamesHenry decision because this is your product :smile: .

For what it's worth, as I said on https://github.com/JamesHenry/typescript-estree/pull/38#issuecomment-443058786, JS and TS have very different mental model about AST. I'm warried that the mix of the two in `typescript-estree` causes confusion.

[2018-12-01 05:48] armano2 commented on #28
@mysticatea i did most of changes for delcare, but i'm unsure what i should do with
[code]

right now it`s
[code]

but babel defines is at new node `TSTypeAliasDeclaration`

[2018-12-01 05:51] armano2 commented on #28
There is also this `DeclareFunction` - function without body
but babel defines is as `TSDeclareFunction`

[2018-12-01 05:51] mysticatea commented on #28
I remember https://github.com/eslint/typescript-eslint-parser/issues/414

[2018-12-01 05:54] armano2 commented on #28
ok, i will take a look on this to than :>

[2018-12-01 11:47] j-f1 commented on #39
The package could also add a `prepare` script that compiles the TS, and people could install `JamesHenry/typescript-estree`. npm will automatically install `devDependencies` when a package is installed from Git and the `prepare` script is present.

[2018-12-01 20:40] corbinu commented on #39
@j-f1 A good idea but I do feel like that when a new version comes out (like 3.2 just did) I would have to maintain my own fork of typescript-eslint-parser (something I do do now) and then switch the package to that branch when it is created

[2018-12-01 20:52] JamesHenry commented on #39
Wouldn’t you need that anyway for new features and/or breaking changes?
E.g. bigint was just added and that would have been a parse error until our
update went out, the nightly wouldn’t help you there right?
On Sat, 1 Dec 2018 at 15:40, Corbin Uselton <notifications@github.com>
wrote:

[2018-12-01 20:57] corbinu commented on #39
Well my thought is this would be targeting typescript nightly so BigInt could be merged onto a nightly branch as soon as it was ready. Then when 3.2 was released you would actually create the 3.2 PR out of the nightly branch features that had stabilized.

[2018-12-01 21:15] corbinu commented on #39
Not at all trying to make more work for you though. Was hoping it could be totally automated and just thought it would a be a way for a subset of users to make PRs and see quick results while keeping the mainline releases stable. Especially given now we have 3 closely related products with separate teams.

[2018-12-15 23:39] armano2 opened #50 "Parser service is using 'tsconfig.json'"
**What version of TypeScript are you using?**
~3.2.1

**What version of `typescript-estree` are you using?**
5.3.0 and tested on master

**What code were you trying to parse?**

[code]
[code]

**What did you expect to happen?**
typeChecker has no informations about types from `es2015.core`

**Demo**
https://github.com/bradzacher/eslint-plugin-typescript/pull/230

**Related to**
https://github.com/

[2018-12-16 00:12] armano2 commented on #50
Update: issue happens only when filePath is not specified

[2018-12-17 21:08] uniqueiniquity commented on #50
@armano2 I'll take a look

[2018-12-17 21:53] armano2 commented on #50
- typescript requires that file is provided if you are using tsconfig
- typescript requires that file is in matching tsconfig configuration (resolving)

solution:
- allow to pass parser configuration as object

[2018-12-17 21:55] uniqueiniquity commented on #50
What do you mean by "passing parser configuration"?
The way the TypeScript compiler test harness handles this is by providing a virtual file system and copy of the library. Is there a more limited approach that you have in mind?

[2018-12-17 21:59] armano2 commented on #50
[code]

`/*optionsToExtend*/ undefined,`

[2018-12-17 22:03] armano2 commented on #50
I have issues with making test for eslint in RuleTester, because i'm unable to provide configuration file (i'm not making files there, it's just code)

[2018-12-18 01:03] uniqueiniquity commented on #50
It appears to me that even with the ability to pass TypeScript compiler options there, the problem still occurs. In particular, when passing an object with the `lib` option set, it doesn't look for the correct paths. Were you able to get it to work this way?

Instead of giving `typescript-estree` the ability to take a config object, I'd prefer that we try to set up the `eslint-plugin-typescript` t

[2018-12-18 01:08] armano2 commented on #50
i think issue is somewhere else, we should execute `createCompilerHost` instead of `createWatchCompilerHost` when instead of file we are getting sourceCode:
[code]

[2018-12-18 01:09] uniqueiniquity commented on #50
How would that help? We do actually need a `WatchCompilerHost` in order to efficiently handle multiple parse operations over a single process lifetime.

[2018-12-18 01:12] armano2 commented on #50
`WatchCompilerHost` is working correctly when there is `file` provided. And this is correct when we want to watch for file changes.

[2018-12-18 01:39] uniqueiniquity commented on #50
I'm not sure I understand you completely. Let me try to summarize what I think you are saying; please tell me if I am not correct.

MOTIVATION:
In `eslint-plugin-typescript`, we want to test semantic rules. However, test cases that use functions from `lib` don't work as easily as existing test cases. This is because `typescript-estree` requires an actual `tsconfig.json` file to specify compiler op

[2018-12-19 02:03] #17 closed

[2018-12-19 02:07] JamesHenry commented on #17
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-19 19:56] armano2 commented on #50
@uniqueiniquity i did some testings with setup with
[`vue-eslint-parser`](https://github.com/mysticatea/vue-eslint-parser) +  `eslint-plugin-typescript` and looks like this issue is present

[2018-12-20 02:06] armano2 commented on #2
Fix for this is easy, but its not supported by babel:
[code]

and i'm going to have to do disable alignment tests for:
[code]

[2018-12-20 03:32] armano2 commented on #32
@kaicataldo @shmidt-i @g-plane issue is due to https://github.com/JamesHenry/typescript-estree/blob/master/src/parser.ts#L134

what you want is
[code]

you should be able to specify one of 3 values there: `"preserve", "react", "react-native"`, but this will not be aligned with eslint :(

i think we should provide additional field like `jsxType` where you can specify this

[2018-12-21 21:03] armano2 commented on #28
@JamesHenry this issue got solved in #42

[2018-12-21 23:21] armano2 opened #58 "Babel vs TSE: TrueKeyword and FalseKeyword"
Currently we are parsing `TrueKeyword` and `FalseKeyword` as `type='Literal'` when in type, but babel parses them as `BooleanLiteral`,

i'm unsure what we should do with this...

[2018-12-21 23:30] armano2 commented on #58
Babel expect when used as value:
[code]
[code]

when used as type:
[code]
[code]

[2018-12-21 23:33] JamesHenry commented on #58
Hmm yeah, awkward one. IIRC BooleanLiteral is what babel does as standard and then the ESTree plugin converts it to Literal

[2018-12-21 23:36] armano2 commented on #58
than there is issue in ESTreePlugin than... i will investigate this

[2018-12-21 23:46] armano2 commented on #58
ok i will investigate that, and most likely report error there

[2018-12-22 00:02] armano2 commented on #58
https://github.com/babel/babel/issues/9228

[2018-12-22 18:11] armano2 commented on #30
@JamesHenry we don't have tests for CallSignature right now, but babel expect that

@mysticatea i reported issue/change request to babel https://github.com/babel/babel/issues/9231

[2018-12-22 18:34] armano2 opened #59 "Feature of this project"
I past few weeks i added more strong typing from typescript but we are still missing strong typing for expected estree result, i started doing small project on side with proper definition for expected AST structure https://github.com/armano2/typescript-estree/blob/types-2/src/types/estree-ts.d.ts

i'm unsure if i should continue on this...

right now our resulted AST is validated with alignment te

[2018-12-24 00:19] armano2 commented on #2
@JamesHenry should we implement this and turn off alignment tests?

[2018-12-25 01:47] armano2 commented on #2
@JamesHenry nvm i found out that babel is supporting this, but we was stripping directives from code. i will implement this today

[2018-12-25 17:45] armano2 commented on #59
i did some fixes to types in #55 but i will have to do way more fixes but we are still missing support for:
- mapped types
- function types
- object shorthand
- tuple with rest
- conditional infer types

[2018-12-25 19:04] armano2 commented on #59
i solve remaining issues i was thinking about splitting converted to 2 separated groups.

1. for normal js
2. for typescript

right now if we try to parse:

[code]

we are goin to have some bulshit results:

[code]

[2018-12-25 19:55] armano2 commented on #59
after adding some new alignment tests for types all of them are failing
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2018-12-26 00:47] armano2 opened #64 "Type information esTreeNodeToTSNodeMap is missing for types"
esTreeNodeToTSNodeMap is not filled for typeAnnotation, typeRefference, some of keywords, and ImportType in types

[2018-12-27 10:32] lydell opened #66 "<a/>.toString() fails to parse"
**What version of TypeScript are you using?**
3.2.2

**What version of `typescript-estree` are you using?**
7.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Something like this:
[code]

**What actually happened?**
An error was thrown:
[code]

**Repro repo:** https://github.com/lydell/typescript-estree-jsx-issue

Prettier issue: https://github.com/prettier/

[2018-12-27 12:21] j-f1 commented on #66
Looks like this is probably an issue with the original TypeScript package, as we just throw any errors TS gives us.

[2018-12-27 13:39] armano2 commented on #66
@j-f1 @lydell issue is related to this line: https://github.com/JamesHenry/typescript-estree/blob/master/src/parser.ts#L134

[2018-12-27 13:43] lydell commented on #66
Thanks. I'm not very familiar with using TypeScript, so I wasn't sure how to test it in isolation.

[2018-12-27 13:51] armano2 commented on #66
@lydell right now there is no way to change this option :(

[2018-12-27 14:55] JamesHenry commented on #66
Yep, confirmed that in the normal JSX configuration the TypeScript parser (via https://astexplorer.net/) will produce `parseDiagnostics` for this source. This is a tricky one... :/

[2018-12-27 19:59] armano2 commented on #66
@lydell @JamesHenry i did a little more tests, and looks like this syntax is not allowed in typescript at all.
you have to do

[code]

[2018-12-28 17:34] #16 closed

[2018-12-28 17:38] JamesHenry commented on #16
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-28 18:20] #2 closed

[2018-12-28 18:21] JamesHenry commented on #7
Ok thanks, @g-plane! Sorry I missed your comment before

[2018-12-28 18:21] #7 closed

[2018-12-28 18:24] #31 closed, assigned to nobody

[2018-12-28 18:31] JamesHenry commented on #59
Thank you for all the work here, I think you are definitely right about us producing our own docs around the expected types

[2018-12-28 18:31] #64 closed

[2018-12-28 18:32] JamesHenry commented on #66
I don't think there is much we can do about this on this side, and it seems like we are going to address it on the Prettier side, so closing for now

[2018-12-28 18:32] #66 closed

[2018-12-28 19:16] uniqueiniquity commented on #50
Yep, my understanding is that #53 addressed the issues discussed here.

[2018-12-28 22:48] armano2 commented on #59
i'm unsure how we should proceed with parsing `typeAnnotation`, right now we are almost always setting up new node `TSTypeAnnotation` as wrapper

babel adds this node only when context is changing from js to type but its not present inside types
[code]
but there are exceptions like: `TSAsExpression` and i'm unsure how we should proceed with this?
should we align it with babel, should we always kee

[2018-12-28 23:06] armano2 commented on #59
update: there is new report about issues / unsupported types / with missing tests [report](https://github.com/armano2/typescript-estree-test/blob/master/report.json)

[2018-12-29 18:49] armano2 opened #72 "Q: what is breaking change"
I was wandering what should be considered breaking change:

i'm trying to follow:
- patch: only hotfixes for bugs and issues, or missing fields in nodes.
- minor: changes thats change structure of AST but do not change fields in nodes.
- changes of types, names, properties and all changes that for sure are going to break code.

it will be nice if we will have official guideline cus right now its .

[2018-12-30 20:40] armano2 opened #77 "non-existent file: missing parent field in all ts nodes"
@uniqueiniquity
i was doing some refactoring on converter and i found one issue when you try running tests for `non-existent file`.

in this test scenario non of nodes has parent field filled with value, as opposed to normal run when for same `sourceCode` you have parent fields filled.

example test scenario:
[code]

will fail because of that with error

[code]

---------------------

from my inve

[2018-12-30 21:50] armano2 commented on #77
Looks like there is difference in behaviour between those cases:

when i check if `ast.statements[0].parent` is present in this function i'm gettin SourceFile node
[code]
when i do same thing in
[code]
parent is undefined for same sourceCode.

[2019-01-01 16:37] vjeux commented on #6
This is still an issue FYI

[2019-01-01 16:38] armano2 commented on #6
@vjeux issue is related to JSX support, in "preserve" typescript is not supporting comments, only in "react".

[2019-01-01 16:40] armano2 commented on #6
https://github.com/JamesHenry/typescript-estree/blob/master/src/parser.ts#L153

[2019-01-01 16:41] armano2 commented on #6
if you use `project` configuration it will load this information from tsconfig.json

[2019-01-01 16:43] vjeux commented on #6
I'm not sure I understand.

[code]

currently reports `</b>` to be a comment, in addition to have the correct JSX AST.

This sounds like a bug and not an issue with configuration.

[2019-01-01 16:44] armano2 commented on #6
its not a bug,
http://www.typescriptlang.org/play/#src=const%20foo%20%3D%20%3Cb%3E%2F%2F%3C%2Fb%3E

[2019-01-01 16:46] vjeux commented on #6
The TypeScript playground doesn't support TSX: http://www.typescriptlang.org/play/#src=const%20foo%20%3D%20%3Cb%3E%2F%2F%3C%2Fb%3E

[2019-01-01 16:46] armano2 commented on #6
typescripts supports 3 mode of JSX: https://www.typescriptlang.org/docs/handbook/jsx.html#basic-usage and // is allowed only in `react`

[2019-01-01 16:47] armano2 commented on #6
let me double check that...

[2019-01-01 16:48] Kovensky commented on #6
Sounds like a bug to me; it should work regardless of mode in .tsx files

[2019-01-01 16:51] armano2 commented on #6
@vjeux what version of typescript are you using?

[2019-01-01 16:54] vjeux commented on #6
[code]

https://github.com/prettier/prettier/blob/master/package.json#L68-L69

Let me know if there's something more recent, I'd be happy to try

[2019-01-01 16:56] armano2 commented on #6
i just checked on master and its working fine....
[code]

[2019-01-01 16:59] Kovensky commented on #6
the problem IIRC is not that it wouldn't parse, it's that it would _also_
attach a comment with a range that overlaps the JSXText

[2019-01-01 17:00] armano2 commented on #6
ohh, that good to know :)

[2019-01-01 17:00] vjeux commented on #6
I just updated to 8.1.0 and it still gives a comment. Give me some time and I'll tell you exactly what is being passed to typescript-eslint and the result.

[2019-01-01 17:03] armano2 commented on #6
i know where is an issue, i will try fixing it today :)

[2019-01-01 17:06] vjeux commented on #6
[code]

[code]

[2019-01-01 17:09] vjeux commented on #6
@armano2 awesome, thanks a lot <3

[2019-01-01 17:09] armano2 commented on #6
i'm going to change completely how comments are retrieved in https://github.com/JamesHenry/typescript-estree/pull/80 :)

[2019-01-04 16:13] #77 closed

[2019-01-04 16:22] JamesHenry commented on #77
:tada: This issue has been resolved in version 9.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v9.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-04 17:58] #6 closed

[2019-01-04 18:02] JamesHenry commented on #6
:tada: This issue has been resolved in version 10.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v10.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-04 20:56] armano2 commented on #32
@JamesHenry this got fixed in https://github.com/JamesHenry/typescript-estree/pull/82

[2019-01-04 20:57] #32 closed

[2019-01-04 21:01] #30 closed

[2019-01-04 21:04] JamesHenry commented on #30
:tada: This issue has been resolved in version 11.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v11.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-06 20:19] JamesHenry opened #102 "Bug in directive logic"
@armano2 I discovered an issues with https://github.com/JamesHenry/typescript-estree/pull/65

[code]

Should not be treated as a directive, it currently is. We lose the fact it is a `ParenthesizedExpression` completely during the conversion process which is why something like this is easy to miss.

This is one of the things babel uses the `extra` property for on the AST - it tracks `"parenthesized

[2019-01-06 21:06] #102 closed

[2019-01-06 21:10] JamesHenry commented on #102
:tada: This issue has been resolved in version 13.5.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typescript-estree)
- [GitHub release](https://github.com/JamesHenry/typescript-estree/releases/tag/v13.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-09 13:52] JamesHenry opened #109 "TSMappedType - TSTypeParameter.name issue"
Considering the following source:

[code]

Prior to v8 we didn't have any test coverage for mapped types.

@armano2 added good test coverage, and at the same time explicit conversion logic (rather than using the `deeplyCopy()` fallback which had implicitly been used up until that point) in the PR which would become v8.

Because of not having the test coverage in there prior to the code change, we

[2019-01-09 15:15] armano2 commented on #109
it has to identifier, i missed this case, we can change that.

[2019-01-09 15:41] ikatyang commented on #109
`Identifier` looks more reasonable to me, but it does not look like a TSTypeParameter-only issue but for all Identifier/TypeParameter:

[code]

FWIW, I tracked down the history in babylon:

- TSTypeParameter was introduced in babel/babylon#523, which followed the existing format from Flow.
- (Flow)TypeParameter was introduced in babel/babylon#25, which was modified from Identifier
  - `Identifier

[2019-01-09 16:59] armano2 commented on #109
@JamesHenry besides normal test cases from this project i'm running tests over popular libraries and typescript test cases in https://github.com/armano2/typescript-estree-test (~14k files)

but sometimes its hard to spot all potential issues 🦊

[2019-01-10 00:31] JamesHenry commented on #109
Yep! I won’t get chance to do a PR until tomorrow so if you have time feel free to submit, otherwise I’m very happy to do it

[2019-01-10 00:32] armano2 commented on #109
31 tests is failing :(

[2019-01-10 15:07] armano2 opened #112 "Overview of misalignments with Babel"
There are still few nodes which are misaligned and we have to decide if we want to follow babel on it.

Biggest one are:
- TSIndexSignature
   - typescript is able to produce ast for more than one parameter and provides array of arguments even if only one is valid
   - babel ast respects that and provides array of arguments with only one node allowed
   - we are converting it to "index" and we are

[2019-01-10 21:36] #109 closed

[2019-01-11 15:30] armano2 commented on #112
do we want to align those nodes?

[2019-01-11 15:55] JamesHenry commented on #112
For `TSIndexSignature` do you know if there is a diagnostic which provides functionality similar to the babel check?

[2019-01-11 15:58] armano2 commented on #112
Yes there is and we are reporting  it already

[2019-01-11 16:02] JamesHenry commented on #112
Ok cool, sounds like the alignment there should be pretty straightforward then 👍

I don't have any strong opinions on the heritage side of things, so probably makes sense to continue the trend of matching babel unless there are obvious flaws in its AST (which obviously sometimes there is)

[2019-01-11 16:03] armano2 commented on #112
ok, than i'm going to prepare PRs for that at evening

[2019-01-11 16:07] JamesHenry commented on #112
I won't be able to until at least 7pm EST - but very happy to do it then

[2019-01-11 16:09] armano2 commented on #112
ok, than i will take `TSIndexSignature` :)

[2019-01-11 16:09] JamesHenry commented on #112
Cool, I’ll do heritage later, thanks!
On Fri, 11 Jan 2019 at 11:09, Armano <notifications@github.com> wrote:

[2019-01-11 23:58] armano2 commented on #112
there is one more kind broken part of conversion, Pattern vs Statement.

in my test project, ~600 files fails due to that :>

[2019-01-12 00:03] armano2 commented on #112
but we are on good path, between versions 13.5.2 and 15.0.0 we went down with failed tests from:

![image](https://user-images.githubusercontent.com/625469/51065543-b5aa5f80-1605-11e9-8634-e4d571777a39.png)
to
![image](https://user-images.githubusercontent.com/625469/51065559-c6f36c00-1605-11e9-9bde-db2aca980377.png)

btw. i tried changing mocha to jest and looks like its way way slower xd

[2019-01-12 01:13] JamesHenry commented on #112
Nice, thanks for maintaining that extra test suite!

[2019-01-12 18:46] JamesHenry commented on #112
We can do an updated summary of the state of the two ASTs soon 👍

[2019-01-12 18:46] #112 closed

[2019-01-12 19:01] armano2 commented on #112
![image](https://user-images.githubusercontent.com/625469/51077292-c4941f00-16a4-11e9-9e32-111e5dd5d833.png)

that's new results

[2019-01-12 19:02] JamesHenry commented on #112
Awesome!

[2019-01-12 19:02] JamesHenry commented on #59
Shall we close this one now?

[2019-01-12 19:03] JamesHenry commented on #58
We're not explicitly tracking any of the other babel issues on this repo so I'm going to close this for consistency with that

[2019-01-12 19:03] #58 closed

[2019-01-12 19:09] armano2 commented on #59
yup, all issues from here are solved

[2019-01-12 19:09] #59 closed

[2019-01-12 19:13] armano2 opened #122 "Legacy octal numbers"
Right now we are converting raw value to number by calling parse function from js, but there is one syntax witch is allowed in nonstrict mode `0123`

this is legacy way to do binary values, before `0b123` was added

right now we are setting value of node to `123`

[2019-01-13 18:10] armano2 commented on #72
someone should write contributing guide, and include it there

[2019-01-13 20:52] armano2 commented on #122
while doing this we have to make sure that we support https://github.com/tc39/proposal-numeric-separator